<?php
declare(strict_types=1);
namespace App\Controller\Admin;

use Hyperf\HttpMessage\Cookie\Cookie;
use Hyperf\HttpMessage\Stream\SwooleStream;
use Liuxinyang\HyperfAdmin\Controller\Admin\AbstractAdminController;
use App\Model\#upperClassName#;
use Yangliuxin\Utils\Utils\ServiceConstant;
use Hyperf\HttpServer\Annotation\Controller;
use Hyperf\HttpServer\Annotation\RequestMapping;

#[Controller]
class #upperClassName#Controller extends AbstractAdminController
{
    #[RequestMapping('/admin/#lowerPathName#',  methods: ['GET'])]
    public function list#upperClassName#()
    {
        $user = $this->_init();
        if(!$user){
            $this->session->remove("admin");
            $this->session->clear();
            return $this->response->withCookie(new Cookie('admin', ''))->redirect('/admin/login');
        }
        if(!$this->checkPermission($user['id'],'#lowerPathName#')){
            return $this->render->render('/admin/noauth', $this->bladeData);
        }
        $where = [];
        $id = $this->request->input('id', 0);
        if($id){
            $where[] = ['id', '=' ,$id];
        }
        $#lowerClassName#List = #upperClassName#::where($where)->orderBy('id', 'asc')->paginate(20);
        $this->bladeData['#lowerClassName#List'] = $#lowerClassName#List;
        $this->bladeData['pageNo'] = $#lowerClassName#List->currentPage();
        $totalPages = floor($#lowerClassName#List->total() / $#lowerClassName#List->perPage()) + ($#lowerClassName#List->total() % $#lowerClassName#List->perPage() == 0 ? 0 : 1);
        $this->bladeData['totalPages'] = $totalPages;
        $this->bladeData['total'] = $#lowerClassName#List->total();
        $this->bladeData['pageNums'] = $#lowerClassName#List->perPage();
        return $this->render->render('admin/#lowerPathName#/list', $this->bladeData);
    }

    #[RequestMapping('/admin/#lowerPathName#/create',  methods: ['GET', 'POST'])]
    public function create#upperClassName#()
    {
        $user = $this->_init();
        if(!$user){
            $this->session->remove("admin");
            $this->session->clear();
            return $this->response->withCookie(new Cookie('admin', ''))->redirect('/admin/login');
        }
        if(!$this->checkPermission($user['id'],'#lowerPathName#')){
            return $this->render->render('/admin/noauth', $this->bladeData);
        }

        $data = new #upperClassName#();
        $this->bladeData["error"] = [];
        $this->bladeData['data'] = $data;
        if($this->request->isMethod("POST")){
            $csrf_token = $this->request->input('csrf_token');
            if(!$csrf_token || $csrf_token != $this->session->get('csrf_token')){
                $errors['title'] = 'csrf token error';
                return $this->render->render('admin/#lowerPathName#/edit', ['error' => $errors]);
            }

#modelRequest#

            #upperClassName#::create($modelData);
            return $this->response->redirect("/admin/#lowerPathName#");
        }
        return $this->render->render('admin/#lowerPathName#/edit', $this->bladeData);
    }

    #[RequestMapping('/admin/#lowerPathName#/edit/{id}',  methods: ['GET', 'POST'])]
    public function edit#upperClassName#($id)
    {
        if(!$id){
            return $this->response->redirect('/admin/#lowerPathName#');
        }
        $user = $this->_init();
        if(!$user){
            $this->session->remove("admin");
            $this->session->clear();
            return $this->response->withCookie(new Cookie('admin', ''))->redirect('/admin/login');
        }
        if(!$this->checkPermission($user['id'],'#lowerPathName#')){
            return $this->render->render('/admin/noauth', $this->bladeData);
        }
        $data = #upperClassName#::find($id);
        $this->bladeData["error"] = [];
        $this->bladeData['data'] = $data;
        if($this->request->isMethod("POST")){
            $csrf_token = $this->request->input('csrf_token');
            if(!$csrf_token || $csrf_token != $this->session->get('csrf_token')){
                $errors['title'] = 'csrf token error';
                return $this->render->render('admin/#lowerPathName#/edit', ['error' => $errors]);
            }
#modelRequest#

            #upperClassName#::where('id', $id)->update($modelData);
            return $this->response->redirect("/admin/#lowerPathName#");
        }

        return $this->render->render('admin/#lowerPathName#/edit', $this->bladeData);
    }

    #[RequestMapping('/admin/#lowerPathName#/delete/{id}',  methods: ['DELETE'])]
    public function delete#upperClassName#($id)
    {
        if(!$id){
            return $this->response->redirect('/admin/#lowerPathName#');
        }
        $user = $this->_init();
        if(!$user){
            $this->session->remove("admin");
            $this->session->clear();
            return ServiceConstant::error(ServiceConstant::MSG_TOKEN_ERROR);
        }
        if(!$this->checkPermission($user['id'],'#lowerPathName#')){
            return ServiceConstant::error('no permission');
        }
        #upperClassName#::where('id', $id)->delete();
        return ServiceConstant::success();
    }

    #[RequestMapping('/admin/#lowerPathName#/export', methods: ['GET'])]
        public function export($id)
        {
            $user = $this->_init();
            if (!$user) {
                $this->session->remove("admin");
                $this->session->clear();
                return ServiceConstant::error(ServiceConstant::MSG_TOKEN_ERROR);
            }
            if (!$this->checkPermission($user['id'], '#lowerPathName#')) {
                return ServiceConstant::error('no permission');
            }

            $exportTitle = '#exportTitle#';
            $exportContent = $exportTitle . "\n";
            $list = #upperClassName#::all()->toArray();
            foreach ($list as $key => $val) {
                $exportContent .= join(",", array_values($val)) . "\n";
            }

            return $this->response->withHeader('Content-type', 'application/vnd.ms-excel')
                ->withHeader('Content-Disposition', 'inline; filename=#lowerPathName#.csv')
                ->withBody(new SwooleStream((string)$exportContent));

        }
}